# Python cache
__pycache__/
*.py[cod]
*.pyo

# Логи и временные файлы
*.log
*.tmp

# Сгенерированные файлы приложения
# Мы не хотим случайно отправить на GitHub созданные нейросетью файлы
*.pdf
*.zip
*.csv

# Версии проекта


# Дополнительная информация
.streamlit/secrets.toml
.env

# Конкретный файл с бэклогом
requirements_.txt
